@charset "UTF-8";
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.body {
  font-size: 18px;
}

/* ПРАЙС начало */
.section_price {
  margin-bottom: 5%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #542e27;
}
.section_price h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.section_price .prices {
  margin: auto;
  max-width: 80%;
  background-color: #fcfcfb;
  box-shadow: 0 8px 6px 0 rgba(84, 46, 39, 0.7);
  border-radius: 30px;
}
.section_price .prices td {
  width: 50%;
  padding: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .section_price .prices td {
    border-bottom: 2px dotted rgba(0, 0, 0, 0.1);
  }
}
.section_price .prices td .text_bold {
  font-weight: bold;
}
.section_price .prices .td_left {
  border-right: 2px solid rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .section_price .prices .td_left {
    border-right: none;
  }
}
.section_price .prices .td_right {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .section_price .prices .td_right {
    text-align: right;
  }
}
.section_price .prices .td_last {
  border-bottom: none;
}

/* ПРАЙС конец */
/* О НАС */
.section_us {
  padding: 7rem;
}

.us_container {
  display: grid;
  grid-template-areas: "us_container__img us_container__content";
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.us_container .us_container__img {
  grid-area: us_container__img;
}
.us_container .us_container__img img {
  width: 100%;
  border-radius: 50%;
}
.us_container .us_container__content {
  grid-area: us_container__content;
  padding-left: 3rem;
}

.txt-top {
  padding-bottom: 1rem;
}

.awards {
  padding: 2rem;
}

.award {
  display: flex;
  align-items: center;
}
.award i {
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  color: #0f9900;
}

/* ОТЗЫВЫ */
.section_testimonials {
  height: 100vh;
  padding-bottom: 10rem;
}
.section_testimonials h1 {
  text-align: center;
}

.slider {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
}

.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid rgba(15, 153, 0, 0.5);
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #0f9900, 0 0 0 0 rgba(15, 153, 0, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  backface-visibility: hidden;
}

.slider__nav:checked {
  animation: check 0.4s linear forwards;
}

.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 10%;
}

.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -70%;
}

.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -150%;
}

.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -230%;
}

.slider__nav:checked:nth-of-type(5) ~ .slider__inner {
  left: -310%;
}

.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  max-height: 100%;
  transition: left 0.4s;
  display: flex;
  flex-flow: row nowrap;
}

.slider__contents {
  padding: 2rem;
  text-align: center;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
  max-height: 100%;
}

.slide-pic {
  max-width: 100%;
  max-height: 100%;
}
.slide-pic img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

figure.snip1139 {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 310px;
  max-width: 510px;
  max-height: 100%;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

figure.snip1139 * {
  box-sizing: border-box;
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

figure.snip1139 img {
  max-width: 100%;
  vertical-align: middle;
}

figure.snip1139 blockquote {
  position: relative;
  background-color: #ffffff;
  padding: 40px 50px 25px 60px;
  font-size: 0.8em;
  font-weight: 500;
  text-align: left;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
  top: 0px;
  left: 0px;
}

figure.snip1139 blockquote:before,
figure.snip1139 blockquote:after {
  font-family: "FontAwesome";
  content: "“";
  position: absolute;
  font-size: 30px;
  opacity: 0.3;
  font-style: normal;
  color: rgba(15, 153, 0, 0.5);
}

figure.snip1139 blockquote:before {
  top: 25px;
  left: 20px;
}

figure.snip1139 blockquote:after {
  content: "”";
  right: 20px;
  bottom: 23px;
}

figure.snip1139 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #ffffff;
  margin: 0;
  position: absolute;
}

figure.snip1139 .author {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 25px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  text-transform: uppercase;
}

figure.snip1139 .author h5 {
  text-align: center;
  font-weight: 800;
}
@keyframes check {
  50% {
    outline-color: #0f9900;
    box-shadow: 0 0 0 12px #0f9900, 0 0 0 36px rgba(15, 153, 0, 0.5);
  }
  100% {
    outline-color: #0f9900;
    box-shadow: 0 0 0 0 #0f9900, 0 0 0 0 rgba(15, 153, 0, 0.5);
  }
}
/* ПОДАРКИ начало */
.section_gifts {
  margin: 5%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #542e27;
  line-height: 1.5;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .section_gifts {
    margin: 10% 5% 10% 5%;
  }
}
.section_gifts button {
  margin-bottom: 1rem;
  padding: 0.7rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 65px;
  background: linear-gradient(90deg, rgb(51, 204, 51), rgb(15, 153, 0) 100%);
  cursor: pointer;
  max-width: 80%;
  align-self: center;
}
.section_gifts button:active {
  box-shadow: rgba(15, 153, 0, 0.3) 3px 3px 3px 3px;
}
.section_gifts i {
  margin-right: 5px;
  color: #eb9c45;
}

.socials i {
  margin-top: 1rem;
  margin-right: 20px;
  font-size: 40px;
}
.socials i:hover {
  transform: scale(1.2);
}

.section_gifts__subscribe {
  position: relative;
  background-color: transparent;
}

.section_gifts__subscribe::before {
  content: " ";
  position: absolute;
  top: -10px;
  left: -20px;
  width: 35px;
  height: 31px;
  background-image: url(/assets/images/circle.png);
  z-index: -1;
}

.section_gifts__gift {
  position: relative;
  background-color: transparent;
}

.section_gifts__gift::after {
  content: " ";
  position: absolute;
  top: -15px;
  left: 0px;
  width: 110px;
  height: 47px;
  background-image: url(/assets/images/ellipse.png);
  z-index: -1;
}

/* ПОДАРКИ конец */
/* КНОПКА ВВЕРХ */
.totop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  color: rgba(15, 153, 0, 0.5);
}
.totop:hover {
  color: #0f9900;
}
.totop i {
  font-size: 40px;
}

/* КНОПКА ВВЕРХ */
/* ФУТЕР начало */
.footer {
  margin-top: 3%;
  padding: 3%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  color: #0f9900;
  background-color: #dbf0d9;
}
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}
.footer a {
  text-decoration: none;
  color: #0f9900;
}
.footer i {
  margin-right: 10px;
  font-size: 40px;
}
.footer div {
  margin-bottom: 5%;
}
.footer .footer__workhours .footer__workhours-time {
  margin-left: 50px;
}

@media screen and (max-width: 768px) {
  .footer__contact {
    text-align: center;
  }
}

/* ФУТЕР конец */ /*# sourceMappingURL=style.css.map */
