@charset "UTF-8";
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.body {
  font-size: 18px;
}

/* ПРАЙС начало */
.section_price {
  margin-bottom: 5%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #542e27;
}
.section_price h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}
.section_price .prices {
  margin: auto;
  max-width: 80%;
  background-color: #fcfcfb;
  box-shadow: 0 8px 6px 0 rgba(84, 46, 39, 0.7);
  border-radius: 30px;
}
.section_price .prices td {
  width: 50%;
  padding: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .section_price .prices td {
    border-bottom: 2px dotted rgba(0, 0, 0, 0.1);
  }
}
.section_price .prices td .text_bold {
  font-weight: bold;
}
.section_price .prices .td_left {
  border-right: 2px solid rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .section_price .prices .td_left {
    border-right: none;
  }
}
.section_price .prices .td_right {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .section_price .prices .td_right {
    text-align: right;
  }
}
.section_price .prices .td_last {
  border-bottom: none;
}

/* ПРАЙС конец */
.main {
  margin: 2%;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  text-align: left;
  padding: 0px 100px;
  font-weight: 400;

}

.btn {
  margin-bottom: 1%;
  padding: 0.7rem;  
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 65px;
  background: linear-gradient(90deg, rgb(51, 204, 51), rgb(15, 153, 0) 100%);
  cursor: pointer;
  max-width: 80%;
  align-self: center;
  text-decoration: none;
  line-height: 10em;
}

a {
  color: #0f9900;
  text-decoration: underline;
}

.main_text1{
  line-height: 5em;
  margin-bottom: -20px; 
}

.main_text__text2{
  line-height: 2em;
  margin-bottom: -10px; 
}

.main_text__text3{
  line-height: 2em;
  margin-bottom: -10px; 
}

.main_text__text4{
  line-height: 5em;

}

/* ПОДАРКИ начало */
.section_gifts {
  margin: 5%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #542e27;
  line-height: 1.5;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .section_gifts {
    margin: 10% 5% 10% 5%;
  }
}
.section_gifts button {
  margin-bottom: 1rem;
  padding: 0.7rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 65px;
  background: linear-gradient(90deg, rgb(51, 204, 51), rgb(15, 153, 0) 100%);
  cursor: pointer;
  max-width: 80%;
  align-self: center;
}
.section_gifts button:active {
  box-shadow: rgba(15, 153, 0, 0.3) 3px 3px 3px 3px;
}
.section_gifts i {
  margin-right: 5px;
  color: #eb9c45;
}

.socials i {
  margin-top: 1rem;
  margin-right: 20px;
  font-size: 40px;
}
.socials i:hover {
  transform: scale(1.2);
}

.section_gifts__subscribe {
  position: relative;
  background-color: transparent;
}

.section_gifts__subscribe::before {
  content: " ";
  position: absolute;
  top: -10px;
  left: -20px;
  width: 35px;
  height: 31px;
  background-image: url(/assets/images/circle.png);
  z-index: -1;
}

.section_gifts__gift {
  position: relative;
  background-color: transparent;
}

.section_gifts__gift::after {
  content: " ";
  position: absolute;
  top: -15px;
  left: 0px;
  width: 110px;
  height: 47px;
  background-image: url(/assets/images/ellipse.png);
  z-index: -1;
}

/* ПОДАРКИ конец */
/* КНОПКА ВВЕРХ */
.totop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  color: rgba(15, 153, 0, 0.5);
}
.totop:hover {
  color: #0f9900;
}
.totop i {
  font-size: 40px;
}

/* КНОПКА ВВЕРХ */
/* ФУТЕР начало */
.footer {
  margin-top: 3%;
  padding: 3%;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  color: #0f9900;
  background-color: #dbf0d9;
}
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}
.footer a {
  text-decoration: none;
  color: #0f9900;
}
.footer i {
  margin-right: 10px;
  font-size: 40px;
}
.footer div {
  margin-bottom: 5%;
}
.footer .footer__workhours .footer__workhours-time {
  margin-left: 50px;
}

@media screen and (max-width: 768px) {
  .footer__contact {
    text-align: center;
  }
}

/* ФУТЕР конец */
/* ХЭДЕР начало */
header {
  width: 100vw;
}
header ul {
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}
header ul :first-child::before {
  content: url(/assets/images/leaf-logo.png);
  position: absolute;
  left: 2vw;
}
header a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 250%;
  color: #263633;
}
header a:hover {
  text-decoration: underline;
}

/* ХЭДЕР конец */
/* ПЕРВЫЙ БЛОК начало */
.first-block {
  width: 100vw;
  height: 70vh;
  background-color: #dbf0d9;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: repeat(3, 1fr);
}
@media screen and (max-width: 768px) {
  .first-block {
    width: 100vw;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.first-block .first-block__logo {
  grid-column: 1/2;
  grid-row: 1/4;
}
.first-block .first-block__logo img {
  margin-top: 10%;
  margin-left: 5%;
  max-width: 100%;
  max-height: 100%;
}
.first-block .first-block__h1 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.first-block .first-block__h1 h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 129%;
  color: #eb9c45;
  text-align: center;
}
.first-block .first-block__h2 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.first-block .first-block__h2 h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 129%;
  color: rgba(84, 46, 39, 0.8);
  text-align: left;
  margin-left: 13.5%;
}
.first-block .first-block__button {
  grid-column: 2/3;
  grid-row: 3/4;
}

.button_leave-application {
  margin-bottom: 1rem;
  padding: 0.7rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 65px;
  background: linear-gradient(90deg, rgb(51, 204, 51), rgb(15, 153, 0) 100%);
  cursor: pointer;
  margin-left: 50%;
  text-transform: uppercase;
  height: 12vh;
  width: 17vw;
}
.button_leave-application:active {
  box-shadow: rgba(15, 153, 0, 0.3) 3px 3px 3px 3px;
}
.button_leave-application:hover {
  text-decoration: underline;
}

/* ПЕРВЫЙ БЛОК конец */
/* РАСХЛАМЛЕНИЕ начало */
.section_benefit {
  background-color: #dbf0d9;
}
@media screen and (max-width: 425px) {
  .section_benefit {
    margin: 0 auto;
  }
}
.section_benefit .title {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  color: #542e27;
  padding-top: 8%;
}
@media screen and (max-width: 425px) {
  .section_benefit .title {
    font-size: 20px;
    text-align: center;
  }
}
.section_benefit .section__title_benefit {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
}
.section_benefit .section__title_benefit .block_img-girl {
  flex-basis: 40%;
}
.section_benefit .section__title_benefit .img-girl {
  width: 100%;
}
.section_benefit .section__title_benefit .block_title {
  flex-basis: 50%;
}
@media screen and (max-width: 1024px) {
  .section_benefit .section__title_benefit {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .section_benefit .section__title_benefit {
    width: 100%;
  }
}
.section_benefit .container_benefit {
  display: flex;
  justify-content: space-evenly;
}
.section_benefit .container_benefit .container__item_benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_benefit .container_benefit .container__item_benefit .block_details {
  width: 450px;
  background-color: #fcfcfb;
  box-shadow: 0 8px 6px 0 rgba(84, 46, 39, 0.7);
  border-radius: 30px;
  margin: 10px;
  padding: 20px;
}
.section_benefit .container_benefit .container__item_benefit .block_details .block__summary_details {
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 400;
  color: #542e27;
  text-align: center;
  padding-bottom: 10px;
}
@media screen and (max-width: 425px) {
  .section_benefit .container_benefit .container__item_benefit .block_details .block__summary_details {
    font-size: 18px;
  }
}
.section_benefit .container_benefit .container__item_benefit .block_details .block__text_details {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 400;
  color: #542e27;
  text-align: center;
}
@media screen and (max-width: 425px) {
  .section_benefit .container_benefit .container__item_benefit .block_details .block__text_details {
    font-size: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .section_benefit .container_benefit .container__item_benefit .block_details {
    width: 300px;
  }
}
@media screen and (max-width: 425px) {
  .section_benefit .container_benefit .container__item_benefit .block_details {
    font-size: 15px;
    padding: 5%;
    border-radius: 20px;
    width: 280px;
  }
}
.section_benefit .container_benefit .container__item_benefit .block_pad {
  padding: 30px;
  margin-top: 27px;
}
@media screen and (max-width: 425px) {
  .section_benefit .container_benefit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
}

/* ДЛЯ КОГО? начало */
.section_service {
  background-color: #dbf0d9;
}
.section_service .title {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  color: #542e27;
  padding-top: 8%;
  line-height: 40px;
}
@media screen and (max-width: 425px) {
  .section_service .title {
    font-size: 20px;
    line-height: 40px;
  }
}
.section_service .block_service {
  display: flex;
  flex-direction: column;
  margin: 0 13%;
  padding: 10px;
}
@media screen and (max-width: 1024px) {
  .section_service .block_service {
    margin-top: 20px;
    justify-content: space-between;
  }
}
.section_service .block_service .block__position_service {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 425px) {
  .section_service .block_service .block__position_service {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
}
.section_service .block_service .block__position_service .service-block_first {
  margin-left: -40px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .section_service .block_service .block__position_service .service-block_first {
    margin-left: 0;
  }
}
.section_service .block_service .block__position_service .service-block_first .service__ball_first {
  position: absolute;
  bottom: 20px;
  left: -40px;
  z-index: -1;
}
.section_service .block_service .block__position_service .service-block_second {
  padding: 40px;
  margin-bottom: -120px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .section_service .block_service .block__position_service .service-block_second {
    margin-bottom: 0;
  }
}
.section_service .block_service .block__position_service .service-block_second .service__ball_second {
  position: absolute;
  top: 20px;
  left: 160px;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .section_service .block_service .block__position_service .service-block_second .service__ball_second {
    left: 70px;
  }
}
@media screen and (max-width: 425px) {
  .section_service .block_service .block__position_service .service-block_second .service__ball_second {
    left: 180px;
  }
}
.section_service .block_service .block__position_service .service {
  display: flex;
  align-items: center;
  background-color: #fcfcfb;
  box-shadow: 4px 8px 6px 0 rgba(84, 46, 39, 0.7);
  border-radius: 40px;
  padding: 50px;
  width: 360px;
  height: 230px;
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .section_service .block_service .block__position_service .service {
    width: 270px;
    padding: 7px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 425px) {
  .section_service .block_service .block__position_service .service {
    margin: 10px;
    height: 115px;
  }
}
.section_service .block_service .block__position_service .service .service__text {
  font-family: "Montserrat";
  font-size: 23px;
  font-weight: 400;
  line-height: 45px;
  color: #542e27;
}
@media screen and (max-width: 1024px) {
  .section_service .block_service .block__position_service .service .service__text {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  .section_service .block_service .block__position_service .service .service__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .section_service .block_service .block__position_service .service .img-ball {
    width: 250px;
  }
}
@media screen and (max-width: 425px) {
  .section_service .block_service .block__position_service .service .img-ball {
    width: 110px;
  }
}
.section_service .block_service .block__position_service .service-block_third {
  padding: 40px;
  margin-top: -120px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .section_service .block_service .block__position_service .service-block_third {
    margin-top: 0;
  }
}
.section_service .block_service .block__position_service .service-block_third .service__ball_third {
  position: absolute;
  bottom: 20px;
  left: 140px;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .section_service .block_service .block__position_service .service-block_third .service__ball_third {
    top: 40px;
    left: -45px;
  }
}
.section_service .block_service .block__position_service .service-block_fourth {
  position: relative;
}
.section_service .block_service .block__position_service .service-block_fourth .service__ball_fourth {
  position: absolute;
  top: 30px;
  left: -60px;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .section_service .block_service .block__position_service .service-block_fourth .service__ball_fourth {
    top: 50px;
    left: 60px;
  }
}
@media screen and (max-width: 425px) {
  .section_service .block_service .block__position_service .service-block_fourth .service__ball_fourth {
    top: 20px;
    left: 160px;
  }
}
.section_service .block_service .service_img {
  align-self: center;
  width: 400px;
}
@media screen and (max-width: 1024px) {
  .section_service .block_service .service_img {
    width: 315px;
    order: 2;
  }
}
.section_service .block_service .service_img .service__meditation_img {
  width: 100%;
}

/* ДЛЯ КОГО? конец */
/* О НАС */
.section_us {
  padding: 5rem 15rem 5rem 15rem;
}
.section_us h1 {
  text-align: center;
  font-family: "Montserrat";
  color: #542e27;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  padding-top: 30px;
  padding-bottom: 3rem;
}

.us_container {
  display: grid;
  grid-template-areas: "us_container__img us_container__content";
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.us_container .us_container__img {
  grid-area: us_container__img;
}
.us_container .us_container__img img {
  width: 100%;
  border-radius: 50%;
}
.us_container .us_container__content {
  grid-area: us_container__content;
  padding-left: 3rem;
  font-family: "Montserrat";
  color: #542e27;
}

.txt-top {
  padding-bottom: 1rem;
}

.awards {
  padding: 2rem;
}

.award {
  display: flex;
  align-items: center;
}
.award i {
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  color: #0f9900;
}

/* ОТЗЫВЫ */
.section_testimonials {
  height: 100vh;
  padding-bottom: 10rem;
}
.section_testimonials h1 {
  text-align: center;
  font-family: "Montserrat";
  color: #542e27;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  padding-top: 30px;
}

.slider {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
}

.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #dbf0d9;
  outline-offset: -6px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  backface-visibility: hidden;
}

.slider__nav:checked {
  animation: check 0.4s linear forwards;
}

.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 10%;
}

.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -70%;
}

.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -150%;
}

.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -230%;
}

.slider__nav:checked:nth-of-type(5) ~ .slider__inner {
  left: -310%;
}

.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  max-height: 100%;
  transition: left 0.4s;
  display: flex;
  flex-flow: row nowrap;
}

.slider__contents {
  font-family: "Montserrat";
  padding: 2rem;
  text-align: center;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
  max-height: 100%;
}

.slide-pic {
  max-width: 100%;
  max-height: 100%;
}
.slide-pic img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

figure.snip1139 {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 310px;
  max-width: 510px;
  max-height: 100%;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
}

figure.snip1139 * {
  box-sizing: border-box;
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

figure.snip1139 img {
  max-width: 100%;
  vertical-align: middle;
}

figure.snip1139 blockquote {
  position: relative;
  background-color: #ffffff;
  padding: 40px 50px 25px 60px;
  font-size: 0.8em;
  font-weight: 500;
  text-align: left;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
  top: 0px;
  left: 0px;
  color: #542e27;
}

figure.snip1139 blockquote:before,
figure.snip1139 blockquote:after {
  font-family: "FontAwesome";
  content: "“";
  position: absolute;
  font-size: 30px;
  opacity: 0.3;
  font-style: normal;
  color: #0f9900;
}

figure.snip1139 blockquote:before {
  top: 25px;
  left: 20px;
}

figure.snip1139 blockquote:after {
  content: "”";
  right: 20px;
  bottom: 23px;
}

figure.snip1139 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #ffffff;
  margin: 0;
  position: absolute;
}

figure.snip1139 .author {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 25px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  text-transform: uppercase;
}

figure.snip1139 .author h5 {
  text-align: center;
  font-weight: 800;
  color: #542e27;
}
@keyframes check {
  50% {
    outline-color: #0f9900;
    box-shadow: 0 0 0 12px #0f9900, 0 0 0 36px #dbf0d9;
  }
  100% {
    outline-color: #0f9900;
    box-shadow: 0 0 0 0 #0f9900, 0 0 0 0 #dbf0d9;
  }
}
/* ПОДГОТОВКА К ВЫВОЗУ начало */
.section_export {
  background-color: #dbf0d9;
}
.section_export .title {
  text-align: center;
  font-family: "Montserrat";
  color: #542e27;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  padding-top: 30px;
}
@media screen and (max-width: 425px) {
  .section_export .title {
    font-size: 20px;
  }
}
.section_export .export {
  display: flex;
  flex-direction: column;
  padding: 0 5% 5% 5%;
  align-items: center;
}
.section_export .export .export-block_first {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.section_export .block_export {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_export .block_export .block__item_export {
  background-color: #fcfcfb;
  border-radius: 40px;
  padding: 23px;
  width: 300px;
  height: 230px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
  box-shadow: 4px 8px 6px 0 rgba(84, 46, 39, 0.7);
}
@media screen and (max-width: 425px) {
  .section_export .block_export .block__item_export {
    height: auto;
    line-height: 30px;
    font-weight: 600;
  }
}
.section_export .block_export .block__item_export .box_export {
  text-align: center;
}
.section_export .block_export .block__item_export .box_export .star {
  margin-bottom: 7px;
}
@media screen and (max-width: 425px) {
  .section_export .block_export .block__item_export .box_export {
    font-size: 15px;
  }
}
.section_export .block_export .block_arrow {
  position: relative;
}
.section_export .block_export .block_arrow .arrow {
  position: absolute;
  top: 220px;
  right: 140px;
}
@media screen and (min-width: 1025px) and (max-width: 1290px) {
  .section_export .block_export .block_arrow .arrow {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .section_export .block_export .block_arrow .arrow {
    top: 140px;
    right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .section_export .block_export .block_arrow .arrow {
    top: 140px;
    right: 100px;
  }
}
@media screen and (max-width: 425px) {
  .section_export .block_export .block_arrow .arrow {
    display: none;
  }
}
.section_export .export-block_second {
  display: flex;
  margin-top: 100px;
  align-self: flex-start;
  justify-content: space-evenly;
  /* margin-left: 120px; */
  width: 63vw;
}
.section_export .export-block_second .block__list_export {
  font-size: 20px;
  text-align: start;
  margin: 5px;
  width: 350px;
  display: flex;
  align-items: center;
  position: relative;
}
.section_export .export-block_second .block__list_export .star2 {
  align-self: flex-start;
  margin-top: 20px;
}
@media screen and (max-width: 1024px) {
  .section_export .export-block_second .block__list_export .star2 {
    margin-top: -7px;
  }
}
@media screen and (max-width: 425px) {
  .section_export .export-block_second .block__list_export .star2 {
    font-size: 15px;
  }
}
.section_export .export-block_second .block__list_export .text_lite {
  font-family: "Montserrat";
  color: #542e27;
  font-size: 20px;
  line-height: 25px;
  text-align: start;
}
@media screen and (max-width: 425px) {
  .section_export .export-block_second .block__list_export .text_lite {
    font-size: 16px;
  }
}
.section_export .export-block_second .block__list_export .ellipse1 {
  position: absolute;
}
@media screen and (max-width: 425px) {
  .section_export .export-block_second .block__list_export {
    width: 300px;
  }
}
@media screen and (max-width: 425px) {
  .section_export .export-block_second .block__list_export .img-ellipse {
    width: 300px;
  }
}
@media screen and (max-width: 1024px) {
  .section_export .export-block_second {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 98%;
  }
}
@media screen and (max-width: 425px) {
  .section_export .export-block_second {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }
}
.section_export .block__item_nut {
  height: 265px;
  background-color: #fcfcfb;
  border-radius: 40px;
  padding: 23px;
  width: 300px;
  height: 230px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
  box-shadow: 4px 8px 6px 0 rgba(84, 46, 39, 0.7);
}
@media screen and (max-width: 1024px) {
  .section_export .block__item_nut {
    margin: 45px;
    height: auto;
  }
}
.section_export .text {
  font-family: "Montserrat";
  color: #542e27;
  text-align: center;
  font-size: 23px;
  line-height: 35px;
  font-weight: 500;
}
@media screen and (max-width: 425px) {
  .section_export .text {
    font-size: 16px;
  }
}
.section_export .export_link {
  font-family: "Montserrat";
  color: #0f9900;
  text-align: center;
  font-size: 23px;
  line-height: 35px;
  font-weight: 500;
}
@media screen and (max-width: 425px) {
  .section_export .export_link {
    font-size: 18px;
  }
}

/* ПОДГОТОВКА К ВЫВОЗУ конец *//*# sourceMappingURL=style.css.map */